.loading-spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.swipe-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 100px;
  filter: alpha(opactiy=50);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  z-index: 1001;
  width: 100px;
  height: 100px; }
  .swipe-overlay.animate-hide.ng-hide {
    filter: alpha(opactiy=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }

ul[rn-carousel] > li {
  padding-left: 24px;
  padding-right: 24px; }

.suggestions-container {
  width: 100%;
  height: 100%; }
  .suggestions-container .venue .venue-name {
    font-size: 20px;
    padding-right: 8px; }
  .suggestions-container .venue .venue-reviews-summary-count {
    margin-left: 10px;
    margin-top: -2px; }
  .suggestions-container .venue .venue-details {
    margin-top: 16px; }
    .suggestions-container .venue .venue-details .venue-vicinity, .suggestions-container .venue .venue-details .venue-details-address, .suggestions-container .venue .venue-details .venue-details-categories {
      padding: 16px; }

.venue-profile-button {
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: block;
  width: 100%;
  padding: 24px 32px; }
  .venue-profile-button md-button {
    width: 100%;
    height: 50px; }
